### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata


### Bundler (local vendor install; path set via `make gems`)
.bundle/
vendor/


### NPM ###
/node_modules/

### macOS ###
*.DS_Store