### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata


### Bundler (vendor install; keep path in tracked config)
.bundle/*
!.bundle/config
vendor/


### NPM ###
/node_modules/

### macOS ###
*.DS_Store